Repository smarlhens/npm-check-engines: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

chore(main): release 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat: initial commit
  .babelrc.json
  .commitlintrc.json
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmignore
  .npmrc
  .prettierignore
  .prettierrc.json
  .renovaterc.json
  LICENSE
  bin/nce.ts
  examples/package-lock.json
  examples/package.json
  jest.config.json
  lib/debug.ts
  lib/index.ts
  lib/json-schema-validator.ts
  lib/renderer.ts
  lib/tasks.ts
  lib/types.ts
  lib/utils.ts
  lib/yargs.ts
  package-lock.json
  package.json
  schemas/package-lock.json
  schemas/package.json
  tests/e2e/index.spec.ts
  tests/e2e/nce.spec.ts
  tests/unit/debug.spec.ts
  tests/unit/renderer.spec.ts
  tests/unit/tasks.spec.ts
  tests/unit/utils.spec.ts
  tsconfig.json
Due: prettier --write, sort-package-json

chore(main): release 0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

style(prettier): format json files
  .lintstagedrc.json
  package.json
  tsconfig.json
Due: sort-package-json

chore(gitignore): do not share idea config
  .gitignore
Due: none

refactor(yargs): enhance options help
  lib/yargs.ts
Due: prettier --write

docs(README): add readme
  README.md
Due: none

ci: split publish job, refactor ci & manual release
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

chore(main): release 0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

docs(CHANGELOG): enhance commit description
  CHANGELOG.md
Due: none

ci(gh-actions): escaped colon char not interpreted as expected
  .github/workflows/ci.yml
Due: none

style(prettier): disable single quote for json files
  .prettierrc.json
Due: none

style(prettier): format yml files
  package.json
Due: sort-package-json

fix(npm): publish config, auth, remove main entry
  .npmrc
  package.json
Due: sort-package-json

ci(gh-actions): provide NPM_TOKEN
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .npmrc
Due: none

fix(npm): registry auth
  .npmrc
Due: none

fix(npm): provide NODE_AUTH_TOKEN
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .npmrc
Due: none

chore(main): release 0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(npm): update publish script, bin path
  package-lock.json
  package.json
Due: sort-package-json

ci(gh-actions): provide registry-url to setup-node
  .github/workflows/publish.yml
Due: none

chore(main): release 0.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

ci(publish): revert publish script, move to release ci job
  .github/workflows/publish.yml
  package.json
Due: sort-package-json

chore(npm): remove npmignore
  .npmignore
Due: none

chore(main): release 0.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

fix(npm): remove latest changes regarding publish
  .github/workflows/publish.yml
  .npmignore
  package-lock.json
  package.json
Due: sort-package-json

chore(main): release 0.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

feat: handle more complex ranges
  lib/tasks.ts
  tests/unit/tasks.spec.ts
Due: prettier --write

style(lint-staged): lint yml & json files using prettier
  .lintstagedrc.json
Due: none

ci(gh-actions): add style to changelog miscellaneous
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci(release-please): set bump strategies to default
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(main): release 0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

chore(renovate): remove semantic-release labels
  .renovaterc.json
Due: none

Path conditions:
  prettier --write: any of: ./**/*.ts
  sort-package-json: any of: package.json
